{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="POST">
    <select name="select">
        <option disabled selected value>Symbol</option>
       {% for sym in symbol %}
        <option value = "{{ sym }}">{{ sym }}</option>
        {% endfor %}
    </select>
    <div>
        <button name="btn btn-primary" type="submit">Sell</button>
    </div>
    <input class="form-control"name="sellshares" placeholder="# of Shares" type="number">
</form>
{% endblock %}
